@charset "utf-8";

/* main */
main {
    width: 100%;
    /* max-width: 1920px; */
    margin: 0 auto;

    height: 100%;

    background: url(../img/main000.jpg) no-repeat top/cover;
}

main .inner {
    /* outline: 2px solid orange; */
    height: 100%;
    position: relative;
    /* h2 , sub-m의 기준 */
}

main .m-txt {
    /* outline: 2px solid red; */

    position: absolute;
    top: 20%;
    left: 0;
}

main .post {
    opacity: 0.9;

    font-family: "DM Mono", monospace;
    font-size: 14px;
    font-size: 0.875rem;
    color: #D0B39D;

    margin-bottom: 40px;
}

main .post span.subpage {
    color: #FAB12F;
}

main .post span a {
    color: #D0B39D;
    display: inline-block;
}

main .post span a:hover {
    text-decoration: underline;
}

main h2 {
    font-family: "Diphylleia", serif;
    font-size: 64px;
    font-size: 4rem;

    /* animation */
    opacity: 0;
    transform: translateY(-50px);
    animation: slideDown 1.5s forwards;
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

main .sub-m {
    /* outline: 2px solid red; */

    width: 45%;

    position: absolute;
    bottom: 10%;
    left: 0;
}

main .sub-m ul {}

main .sub-m ul .lnb {
    float: none;
    margin-bottom: 10px;
}

/* --------- */
main .sub-m ul .lnb::after {
    content: "";
    display: block;

    width: 100%;
    height: 1px;
    background-color: #FEF3E2;

    margin: 10px 0;
}

main .sub-m ul .lnb:nth-child(3):after {
    display: none;
}

/* 초기설정 - .lnb>p 안보이게 */
main .sub-m ul .lnb p {
    display: none;
}

/* on */
main .sub-m ul li.on h3 a {
    color: #FAB12F;
}

main .sub-m ul li.on p {
    display: block;
}

main .sub-m ul .lnb h3 {
    font-family: "Diphylleia", serif;
    font-size: 32px;
    font-size: 2rem;

    margin-bottom: 10px;
}

main .sub-m ul .lnb h3 a {
    color: #fff;
}

main .sub-m ul .lnb p {
    font-size: 16px;
    font-size: 1rem;
    font-weight: 300;
}


/* section */
section {
    width: 100%;
}

.con-list {
    width: 100%;
    background-color: #5D4F44;

    margin-bottom: 100px;
}

.con-list ul {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
}

.con-list ul li {
    /* outline: 2px solid red; */
    width: 33.33%;
    text-align: center;
    background-color: #68594C;

    position: relative;
    /* li::after의 기준 */
}

.con-list ul li.on {
    background-color: #847061;
}

.con-list ul li.on a {
    color: #FAB12F;
    font-weight: 400;
}

.con-list ul li a {
    display: block;
    color: rgba(255, 255, 255, 0.7);
    line-height: 65px;
    font-weight: 400;
}

/* .con-list li 호버 디자인 */
.con-list ul li:hover a {
    color: #FAB12F;
}

.con-list ul li:hover {
    background-color: #847061;
}

.sec-txt {
    text-align: center;
}

.sec-txt h4 {
    /* font-family: "Diphylleia", serif; */
    font-size: 48px;
    font-size: 3rem;
    color: #FEF3E2;

    margin-bottom: 50px;
}

.sec-txt p.sec-subtit {
    font-family: "Noto Serif KR", serif;
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: 300;

    margin-bottom: 150px;
}

ul.rainbow_list {
    text-align: center;
    width: 50%;
    margin: 0 auto;

    margin-bottom: 100px;
}

ul.rainbow_list li {
    float: none;

    opacity: 0.5;
    border: 1px solid;
    border-radius: 50px;

    margin-bottom: 15px;
}

ul.rainbow_list li:hover {
    /* color:#FAB12F; */
    opacity: 1;
}

.red:hover,
.red:hover a {
    color: red;
}

.orange:hover,
.orange:hover a {
    color: #ff5e00;
}

.yellow:hover,
.yellow:hover a {
    color: #ff9d00;
}

.green:hover,
.green:hover a {
    color: #1ec03e;
}

.blue:hover,
.blue:hover a {
    color: #348bee;
}

.navy:hover,
.navy:hover a {
    color: #1c47bd;
}

.violet:hover,
.violet:hover a {
    color: #7628db;
}

ul.rainbow_list li a {
    color: #fff;
    padding: 10px 0;

    /* font-family: "Noto Serif KR", serif; */
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: 300;
}

/* modal 실행 css */
#modal {
    background-color: rgba(0, 0, 0, 0.8);

    width: 100%;
    height: 100%;
    cursor: pointer;

    position: fixed;
    /* #content의 기준 */
    left: 0;
    top: 0;
    z-index: 999;

    margin-bottom: 200px;

    display: none;
}

#content {
    width: 100%;
    height: 100%;

    position: absolute;

    display: none;
}

div.modal ul li {
    width: 40%;
    margin: 0 auto;

    border: 1px solid red;
    background-color: #000;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 50px 10px;
    text-align: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: none;
}

div.modal ul li h5 {
    font-family: "DM Mono", monospace;
    font-size: 16px;
    font-size: 1rem;
    letter-spacing: 2px;
    /* display: inline-block; */

    /* background-color: red;
    border-radius: 50px;
    padding: 0 20px; */
    color: red;

    margin-bottom: 20px;
}

div.modal ul li h6 {
    /* font-family: "Diphylleia", serif; */
    font-size: 28px;
    font-size: 1.75rem;
    display: inline-block;
    margin: 0 auto 30px;

    margin-bottom: 30px;
}

div.modal ul li h6::after {
    content: "";
    display: block;
    /* margin: 30px auto 0; */

    width: 100%;
    height: 28px;
    background-color: red;

    position: relative;
    top: -32px;
    z-index: -1;
    animation: highlight 2s ease forwards;
    /* 애니메이션 */
}

@keyframes highlight {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

div.modal ul li .modal-img {
    width: 60%;
    margin: 0 auto 30px;
    border-radius: 20px;
    overflow: hidden;
}

div.modal ul li .modal-img img {
    width: 100%;
    display: block;
}

div.modal ul li p {
    font-weight: 300;
}

/* x */
div.modal ul li .exit {
    color: red;

    position: absolute;
    top: 20px;
    right: 20px;
}

#orange {
    border-color: #ff5e00;
}

#orange h5,
#orange .exit {
    color: #ff5e00
}

#orange h6::after {
    background-color: #ff5e00;
}

#yellow {
    border-color: #ff9d00;
}

#yellow h5,
#yellow .exit {
    color: #ff9d00;
}

#yellow h6::after {
    background-color: #ff9d00;
}

#green {
    border-color: #1ec03e;
}

#green h5,
#green .exit {
    color: #1ec03e;
}

#green h6::after {
    background-color: #1ec03e;
}

#blue {
    border-color: #348bee;
}

#blue h5,
#blue .exit {
    color: #348bee;
}

#blue h6::after {
    background-color: #348bee;
}

#navy {
    border-color: #1c47bd;
}

#navy h5,
#navy .exit {
    color: #1c47bd;
}

#navy h6::after {
    background-color: #1c47bd;
}

#violet {
    border-color: #7628db;
}

#violet h5,
#violet .exit {
    color: #7628db;
}

#violet h6::after {
    background-color: #7628db;
}