@charset "utf-8";

/* common */

/*
구글 웹 폰트
1.  font-family: "Diphylleia", serif;
    font-weight: 400;
2.  font-family: "Noto Sans KR", sans-serif;
    font-weight: 100 ~ 900;
3.  font-family: "Noto Serif KR", serif;
    font-weight: 200 ~ 900;
4. font-family: "DM Mono", monospace;
    font-weight: 300 ~ 500;
    
*/

body {
    font-family: "Noto Sans KR", sans-serif;
    color: #fff;
    background-color: #000;
}

/* float 해제 : .clear */
.clear::after {
    content: "";
    display: block;
    clear: both;
}

/* 컨텐츠 너비 */
.inner {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
}

/* 보이는 화면 기준 */
html, body {
    width: 100%;
    height: 100%;
}

/* article */
/* - caption, tit, des 공통 디자인 */
p.caption {
    margin-bottom: 60px;
}
p.caption>a {
    font-family: "DM Mono", monospace;

    color: #FAB12F;
    font-size: 14px;
    font-size: 0.875rem;
    letter-spacing: 1px;    
}
p.caption:hover a {
    text-decoration: underline;
}
.arti-tit {    
    font-family: "Diphylleia", serif;

    color: #FEF3E2;
    font-size: 48px;
    font-size: 3rem;
    word-break: keep-all;
    line-height: 1.4;
    margin-bottom: 60px;
}
.arti-des {
    font-family: "Noto Serif KR", serif;

    line-height: 2;
    word-break: keep-all;
    margin-bottom: 30px;
}


/* - btn 공통 디자인 */
a.arti-btn  {
    border: 1px solid;
    color: #fff;
    text-align: center;    
    padding: 10px 30px;
}
a.arti-btn:hover {
    background-color: #FAB12F;
    border: 1px solid #FAB12F;
}
