@charset "utf-8";

/* footer */

footer {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    
    padding: 50px 0 100px;
    background-color: #FAB12F;

    /* .totop의 기준 */
    position: relative;
}
footer .sns {
    float: right;
}
footer .sns ul::after {
    content: "";
    display: block;
    clear: both;
}
footer .sns ul li {
    width: 30px;
    height: 30px;
    
    float: left;
}
footer .sns ul li~li {
    margin-left: 20px;
}
footer .sns ul li.youtube {
    background: url(../img/icon-youtube_hover.png) no-repeat top left/cover;
}
footer .sns ul li.youtube:hover {
    background: url(../img/icon-youtube_hover.png) no-repeat top right/cover;
}
footer .sns ul li.facebook {
    background: url(../img/icon-facebook_hover.png) no-repeat top left/cover;
}
footer .sns ul li.facebook:hover {
    background: url(../img/icon-facebook_hover.png) no-repeat top right/cover;
}
footer .sns ul li.insta {
    background: url(../img/icon-instagram_hover.png) no-repeat top left/cover;
}
footer .sns ul li.insta:hover {
    background: url(../img/icon-instagram_hover.png) no-repeat top right/cover;
}
footer .sns ul li a {
    display: block;
    text-indent: -9999px;
}

footer .copyright {
    float: left;
    line-height: 2;
}
footer .copyright .site {}
footer .copyright .site li {
    margin-right: 30px;
    margin-bottom: 20px;
}
footer .copyright .site li a {
    display: block;
    color: rgba(0,0,0,1);
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 600;
}
footer .copyright .info {
    /* outline: 2px solid red; */
    width: 60%;

    color: rgba(0,0,0,0.7);
    font-size: 14px;
    font-size: 0.875rem;
}
footer .copyright .info li {
    margin-right: 30px;
}

footer .copyright .f-logo {
    font-family: "Diphylleia", serif;
    font-size: 40px;
    font-size: 2.5rem;
    color: #000;
    line-height: 80px;
}

footer .totop {
    outline: 2px solid red;
    width: 50px;
    height: 50px;
    background: url(../img/icon-totop.png) no-repeat;

    position: absolute;
    bottom: 10%;
    right: 10%;
}