@charset "utf-8";

/* reset */

* {
    margin: 0;
    padding: 0;
}

ul, ol, li {
    list-style: none;
}
/* li float */
li {
    float: left;
}
/* li 부모 - float 해제 */
ul::after, ol::after {
    content: "";
    display: block;
    clear: both;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}