@charset "utf-8";

/* main */
main {
    width: 100%;
    margin: 0 auto;

    height: 50%;

    background: url(../img/fresh-bread-wooden-background.jpg) no-repeat top/cover;
}

main .inner {
    /* outline: 2px solid orange; */
    height: 100%;
    position: relative;
    /* m-txt의 기준 */
}

main .m-txt {text-align: center;
    /* outline: 2px solid red; */

    position: absolute;
    top: 60%;
    transform: translate(-50%, -50%);
    left: 50%;
}

main .post {
    font-family: "DM Mono", monospace;
    font-size: 14px;
    font-size: 0.875rem;
    color: #D0B39D;

    margin-bottom: 40px;

    /* animation */
    opacity: 0;
    transform: translateY(-50px);
    animation: slideDown 1.5s forwards;
}

main .post span.subpage {
    color: #FAB12F;
}
main .post span a {
    color: #D0B39D;
    display: inline-block;
}

main .post span a:hover {
    text-decoration: underline;
}

main h2 {
    font-family: "Diphylleia", serif;
    font-size: 64px;
    font-size: 4rem;

    margin-bottom: 40px;

    /* animation */
    opacity: 0;
    transform: translateY(-50px);
    animation: slideDown 1.5s forwards;
    animation-delay: 0.3s; 
}

main h2::after {
    content: "";
    display: block;
    margin: 0 auto;

    width: 100px;
    height: 1px;
    background-color: #fff;

    margin-top: 40px;
}

main p {
    font-size: 16px;
    font-size: 1rem;
    font-weight: 300;    

    /* animation */
    opacity: 0;
    transform: translateY(50px);
    animation: slideUp 1.5s forwards;
    animation-delay: 0.6s; 
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/* section */
section {
    width: 100%;    
}

.con-list {
    width: 100%;
    background-color: #5D4F44;

    margin-bottom: 100px;
}

.con-list ul {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
}

.con-list ul li {
    /* outline: 2px solid red; */
    width: 50%;
    text-align: center;
    background-color: #68594C;
}

.con-list ul li.on {
    background-color: #847061;
}

.con-list ul li.on a {
    color: #FAB12F;
    font-weight: 400;
}

.con-list ul li a {
    display: block;
    color: #fff;
    line-height: 65px;
    font-weight: 300;
}

/* .list li 호버 디자인 */
.con-list ul li:hover a {
    color: #FAB12F;
}

.con-list ul li:hover {
    background-color: #847061;
}




.community { outline: 2px solid red;
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
}

/* .search */
.search {
    text-align: right;
}
.search input {}


/* .notice */
.notice { outline: 2px solid green;
    float: none;
}
.notice .n-title {
    text-align: center;

    width: 100%;
}
.notice .n-title .date {
    width: 10%;
    display: inline-block;
}
.notice .n-title h4 {
    width: 80%;
    display: inline-block;
}
.notice .n-title h4 a {
    color: #fff;    

    font-size: 24px;
    font-size: 1.5rem;
}
.notice .n-title .n-btn {
    width: 10%;
    display: inline-block;
}

.n-content { display: none; }
.n-content .content {}
.n-content .content p {}
.n-content .content p b {}